<h1>Settings</h1>
<%= form_for @preference, url: admin_settings_path(@preference)  do |f| %>
  <div>
    <%= f.label :song_sort_order %>:<br>
    DESC: <%= f.radio_button :song_sort_order, "DESC" %>
    ASC: <%= f.radio_button :song_sort_order, "ASC" %>
  </div>
  <div>
    <%= f.label :artist_sort_order %>:<br>
    DESC: <%= f.radio_button :artist_sort_order, "DESC" %>
    ASC: <%= f.radio_button :artist_sort_order, "ASC" %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
